#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300px;
}

#title_container {
    z-index: 10000;
    position: absolute;
    left: 75px;
    margin-top: 10px;
}

#timeline {
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #7ebc6f;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

h1 a {
    color: #7ebc6f;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}

.leaflet-container {
    background-color:rgba(0,0,0,1.0) !important;
}

.vis.timeline .timeaxis .text {
    position: absolute;
    color: white !important;
    padding: 3px;
    white-space: nowrap;
}

.uk {
    background-color: red !important;
}

.us {
    background-color: blue !important;
}